@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {

        --font-default: 'Karla', sans-serif;
        --font-header: 'Lora', sans-serif;
        --color-primary: #003366;
        --color-primary-light: #336699;
        --color-secondary: #FFCC66;
        --font-color: #333;
        --button-color: #fff;
}

* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: var(--font-default);
}

html {

        height: 100%;

        min-height: 1080px;

}

html,
body {
        overflow-x: hidden;
        scroll-behavior: smooth;
}

#root,
#root .App,
body,
.body {
        height: 100%;
}

.body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

}

body:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* background-image: url(https://firebasestorage.googleapis.com/v0/b/civilaid-65d59.appspot.com/o/Assets%2FAsset%2Fwatermark.png?alt=media&token=0bdcaeef-b84d-4cc9-b7dc-ead63beea248); */
        background-repeat: space;
        background-size: 20%;
        z-index: 99999999999999999999;

        pointer-events: none;
        opacity: 0.1;
}

*:not(.carousel *):not(.ry-accordion *):not(#accordion *):not([data-aos-duration]),
::before,
::after {
        transition: 0.3s ease-in-out all;
}


/* width */
::-webkit-scrollbar {
        width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
        border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
        background: var(--color-primary-light);
        border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
        opacity: 0.6;
}

.container {
        position: relative;
        max-width: 1600px;
        width: 90%;
        float: none;
        margin: 0 auto;
}

.container-fluid {
        position: relative;
        width: 100%;
        float: none;
        margin: 0 auto;
}


.section-header {
        display: grid;
        place-items: center;

}

.section-header h2,
.section-header h2 span {

        text-align: center;
        color: var(--font-color);
        font-family: var(--font-header);
        font-size: 50px;
        font-weight: 400;
        text-transform: uppercase;
}

.section-header h2 span {
        color: #003366;
        font-weight: 500;
        line-height: 1;
}

.section-header h5 {
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 3px;
        font-family: var(--font-default);
        line-height: 1;
        color: var(--font-color);
}

.section-header.left {
        place-items: unset;
}

.section-header.left h5 {
        text-align: left !important;
}

@media only screen and (max-width: 991px) {

        .section-header h2,
        .section-header h2 span {

                font-size: clamp(32px, 5.045vw, 50px);
        }

}

.overlink {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        text-decoration: none;
        text-align: center;
        font-size: 0;
}

#ip-container {
        padding: 120px 0
}

.content ol,
.content ul {
        padding: 0 0 0 36px
}

p,
li {
        line-height: 1.5;
}

.btn {
        cursor: pointer !important;
        border: none;
        outline: none;
        padding: 12px 24px;
        text-decoration: none;
        color: var(--button-color);
        border-radius: 5px;
        font-size: 18px;
        width: fit-content;
        z-index: 2;
}

.btn:hover {
        opacity: 0.8;
}

.btn.btn-primary {
        background-color: var(--color-primary-light);
}

.btn.btn-primary:hover {
        /* background-color: var(--color-secondary); */
}

.btn.btn-secondary {
        background-color: var(--color-secondary);
}

.form-input {
        outline: none;
        border: none;
        background-color: #f1f1f1;
        padding: 18px 20px;
        font-family: var(--font-default);
        font-size: 18px;
        border-radius: 5px;
}

.input {
        display: flex;
        align-items: center;
        gap: 0px;
        padding: 4px 32px;
        background-color: #f1f1f1;

        border-radius: 5px;
}

.input input {
        outline: none;
        border: none;
        background-color: transparent;
        padding: 16px 20px;
        font-family: var(--font-default);
        font-size: 16px;
        width: 100%;
}

.input svg {
        opacity: 0.8;
}

.group {
        padding: 32px 0;
        border: 1px solid #ccc;
        border-left: none;
        border-right: none;
}


.image-upload input[type=file] {
        width: 100%;
        border: 1px solid #e5e5e5;
}

.image-upload input[type=file]::file-selector-button {
        background-color: #fff;
        color: #000;
        border: 0px;
        border-right: 1px solid #e5e5e5;
        padding: 10px 15px;
        margin-right: 20px;
        transition: .5s;
}

.image-upload input[type=file]::file-selector-button:hover {
        background-color: #eee;
        border: 0px;
        border-right: 1px solid #e5e5e5;
}

.image-upload .image-upload-wrap {
        display: flex;
        gap: 20px;
}

.preview {
        margin: 18px 0;
        width: 200px;
        height: 200px;
        background-size: cover;
        background-position: center;
}

.preview[style*="null"] {
        display: none;
}

.hidden {
        display: none !important;
        visibility: hidden !important;
        opacity: 0 !important;
        position: absolute !important;
}